*
{
    margin: 0px;
    padding: 0px;
}
.main
{
    display: flex;
    border: 2px solid blue;
    width: 900px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
}
img
{
    height:450px;
    width: 450px;
    position: relative;
    top: 40px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.right_path
{
    margin-top: 20px;
    padding: 10px;
}
.log_div
{
     
     border: none; 
     border-left: 1px solid black;
    height: 300px;
    width: 400px;
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
 }
.log_content
{
    color:#7b68ee;
    font-size: 30px;
}
label
{
    margin-right: 20px;
    padding-bottom: 10px;
}
.email
{
    margin-right: 50px; 
}
.aut_cat
{
    margin-left: 90px;
}
input
{
    width: 250px;
    height: 23px;
    border-radius: 2px;
    border: 1px solid #a679ff;
    margin-top: 5px;
    padding: 4px;
}
button
{
    border: 2px solid #7b68ee;
    background-color:#7b68ee;
    color: white;
    padding: 6px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 160px;
}
button:hover
{
    background-color: #5b40f7;
}
/* footer css */
*
{
    margin: 0px;
    padding: 0px;
}
.logo
{
    color: #a679ff;
}
.main_foot
{
    display: flex;
    background-color: #f8f9fa;
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    font-style: normal;
    border:none;
    border-top: 1px solid #a679ff;
    justify-content: space-around;
}
.icon_class
{
height: 50px;
width: 200px;
display: flex;
justify-content:space-evenly;
align-items: center;
}
.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 40px;
}
.icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-decoration: none;
}
.icon:hover{
    color: rgb(110 ,87 ,224);
}
.mail_con
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_foot
{
    height: 200px;
    width: 300px;
    padding: 10px;
}
.right_foot
{
    color: rgb(68 ,68,68);
    height: 200px;
    width: 300px;
    /* border: 1px solid black; */
    padding: 10px;
}
.send_btn
{
border: 2px solid #7b68ee;
background-color:#7b68ee;
color: white;
text-decoration: none;
padding: 8px;
border-radius: 5px;
}
.foot_si
{
    border: 2px solid #7b68ee;
    background-color:#7b68ee;
    color: white;
    text-decoration: none;
    padding: 5px;
    height: 10px;
    width: 20px;
    margin-left: 20px;
    border-radius: 5px; 
}
.copy_cat
{
    border: 2px solid #7b68ee;
    background-color:#7b68ee;
    color: white;
    text-decoration: none;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}